@charset "utf-8";
/* CSS Document */

*
	{
	outline:none;	
	}

p:first-child
	{
	margin-top:0;
	padding-top:0;	
	}

.clear
	{
	clear:both;
	}

a, img, img a {
	text-decoration:none;
	border:0;
	outline:0;
	}
	
form {
	border:0;
	margin:0;
	padding:0;
	outline:0;
	}
	
.fleft {
	float:left;
	}
	
.fright {
	float:right;
	}
.dblock
	{
	display:block;	
	}
.diblock
	{
	display:inline-block;	
	}
.dinline
	{
	display:inline;	
	}
.normal
	{
	font-weight:normal;	
	color:#000;
	}
.under_dev { border:1px dotted #c00; }
.xsm, .textxsm 	{font-size:10px; !important}
.sm, .textsm 		{font-size:12px; !important}
.med, .text, .txt 	{font-size:14px; !important}
.lg, .textlg 			{font-size:16px; !important}
.xlg, .textxlg 			{font-size:18px; !important}
.xxlg, .textxxlg 	{font-size:20px; !important}
.xxxlg, .textxxxlg	{font-size:24px; !important}

.uppercase {text-transform:uppercase;}


.grey{color:#666 !important;}

.position-relative { position:relative; }

.overflowAuto {overflow:auto;}
.overflowHIdden, .overflowNone {overflow:hidden;}
.displayNone {display:none;}
.nowrap{white-space:nowrap;}
.heightAuto {height:auto !important;}

.floatLeft{float:left;}
.floatRight{float:right;}

.inlineBlock {display: inline-block;}
.tableRow {display: table-row;}
.tableCell {display: table-cell;}
	

.alignLeft{text-align:left !important;}
.alignCenter{text-align:center !important;}
.alignRight{text-align:right !important;}
.alignJustify{text-align:justify !important;}

.valignTop{vertical-align:top !important;}
.valignMiddle, .valignMid{vertical-align:middle !important;}
.valignBottom, .valignBot{vertical-align:bottom !important;}

.positionRelative{position:relative !important;}
.positionAbsolute{position:absolute !important;}

.cursorPointer
	{
	cursor:pointer !important;	
	}

.noborder
	{
	border:none !important;
	}


.pad0 {padding:0px !important;}
.pad1 {padding:1px !important;}
.pad2 {padding:2px !important;}
.pad3 {padding:3px !important;}
.pad4 {padding:4px !important;}
.pad5 {padding:5px !important;}
.pad6 {padding:6px !important;}
.pad7 {padding:7px !important;}
.pad8 {padding:8px !important;}
.pad9 {padding:9px !important;}
.pad10 {padding:10px !important;}
.pad11 {padding:11px !important;}
.pad12 {padding:12px !important;}
.pad13 {padding:13px !important;}
.pad14 {padding:14px !important;}
.pad15 {padding:15px !important;}
.pad16 {padding:16px !important;}
.pad17 {padding:17px !important;}
.pad18 {padding:18px !important;}
.pad19 {padding:19px !important;}
.pad20 {padding:20px !important;}

.padTop0 {padding-top:0px !important;}
.padTop1 {padding-top:1px !important;}
.padTop2 {padding-top:2px !important;}
.padTop3 {padding-top:3px !important;}
.padTop4 {padding-top:4px !important;}
.padTop5 {padding-top:5px !important;}
.padTop6 {padding-top:6px !important;}
.padTop7 {padding-top:7px !important;}
.padTop8 {padding-top:8px !important;}
.padTop9 {padding-top:9px !important;}
.padTop10 {padding-top:10px !important;}
.padTop11 {padding-top:11px !important;}
.padTop12 {padding-top:12px !important;}
.padTop13 {padding-top:13px !important;}
.padTop14 {padding-top:14px !important;}
.padTop15 {padding-top:15px !important;}
.padTop16 {padding-top:16px !important;}
.padTop17 {padding-top:17px !important;}
.padTop18 {padding-top:18px !important;}
.padTop19 {padding-top:19px !important;}
.padTop20 {padding-top:20px !important;}
.padTop25 {padding-top:25px !important;}
.padTop30 {padding-top:30px !important;}
.padTop35 {padding-top:35px !important;}
.padTop40 {padding-top:40px !important;}
.padTop45 {padding-top:45px !important;}
.padTop50 {padding-top:50px !important;}


.padRight0 {padding-right:0px !important;}
.padRight1 {padding-right:1px !important;}
.padRight2 {padding-right:2px !important;}
.padRight3 {padding-right:3px !important;}
.padRight4 {padding-right:4px !important;}
.padRight5 {padding-right:5px !important;}
.padRight6 {padding-right:6px !important;}
.padRight7 {padding-right:7px !important;}
.padRight8 {padding-right:8px !important;}
.padRight9 {padding-right:9px !important;}
.padRight10 {padding-right:10px !important;}
.padRight11 {padding-right:11px !important;}
.padRight12 {padding-right:12px !important;}
.padRight13 {padding-right:13px !important;}
.padRight14 {padding-right:14px !important;}
.padRight15 {padding-right:15px !important;}
.padRight16 {padding-right:16px !important;}
.padRight17 {padding-right:17px !important;}
.padRight18 {padding-right:18px !important;}
.padRight19 {padding-right:19px !important;}
.padRight20 {padding-right:20px !important;}
.padRight25 {padding-right:25px !important;}
.padRight30 {padding-right:30px !important;}
.padRight35 {padding-right:35px !important;}
.padRight40 {padding-right:40px !important;}
.padRight45 {padding-right:45px !important;}
.padRight50 {padding-right:50px !important;}

.padBot0 {padding-bottom:0px !important;}
.padBot1 {padding-bottom:1px !important;}
.padBot2 {padding-bottom:2px !important;}
.padBot3 {padding-bottom:3px !important;}
.padBot4 {padding-bottom:4px !important;}
.padBot5 {padding-bottom:5px !important;}
.padBot6 {padding-bottom:6px !important;}
.padBot7 {padding-bottom:7px !important;}
.padBot8 {padding-bottom:8px !important;}
.padBot9 {padding-bottom:9px !important;}
.padBot10 {padding-bottom:10px !important;}
.padBot11 {padding-bottom:11px !important;}
.padBot12 {padding-bottom:12px !important;}
.padBot13 {padding-bottom:13px !important;}
.padBot14 {padding-bottom:14px !important;}
.padBot15 {padding-bottom:15px !important;}
.padBot16 {padding-bottom:16px !important;}
.padBot17 {padding-bottom:17px !important;}
.padBot18 {padding-bottom:18px !important;}
.padBot19 {padding-bottom:19px !important;}
.padBot20 {padding-bottom:20px !important;}
.padBot25 {padding-bottom:25px !important;}
.padBot30 {padding-bottom:30px !important;}
.padBot35 {padding-bottom:35px !important;}
.padBot40 {padding-bottom:40px !important;}
.padBot45 {padding-bottom:45px !important;}
.padBot50 {padding-bottom:50px !important;}

.padLeft0 {padding-left:0px !important;}
.padLeft1 {padding-left:1px !important;}
.padLeft2 {padding-left:2px !important;}
.padLeft3 {padding-left:3px !important;}
.padLeft4 {padding-left:4px !important;}
.padLeft5 {padding-left:5px !important;}
.padLeft6 {padding-left:6px !important;}
.padLeft7 {padding-left:7px !important;}
.padLeft8 {padding-left:8px !important;}
.padLeft9 {padding-left:9px !important;}
.padLeft10 {padding-left:10px !important;}
.padLeft11 {padding-left:11px !important;}
.padLeft12 {padding-left:12px !important;}
.padLeft13 {padding-left:13px !important;}
.padLeft14 {padding-left:14px !important;}
.padLeft15 {padding-left:15px !important;}
.padLeft16 {padding-left:16px !important;}
.padLeft17 {padding-left:17px !important;}
.padLeft18 {padding-left:18px !important;}
.padLeft19 {padding-left:19px !important;}
.padLeft20 {padding-left:20px !important;}
.padLeft25 {padding-left:25px !important;}
.padLeft30 {padding-left:30px !important;}
.padLeft35 {padding-left:35px !important;}
.padLeft40 {padding-left:40px !important;}
.padLeft45 {padding-left:45px !important;}
.padLeft50 {padding-left:50px !important;}

.margin0 {margin:0px !important;}
.margin1 {margin:1px !important;}
.margin2 {margin:2px !important;}
.margin3 {margin:3px !important;}
.margin4 {margin:4px !important;}
.margin5 {margin:5px !important;}
.margin6 {margin:6px !important;}
.margin7 {margin:7px !important;}
.margin8 {margin:8px !important;}
.margin9 {margin:9px !important;}
.margin10 {margin:10px !important;}
.margin11 {margin:11px !important;}
.margin12 {margin:12px !important;}
.margin13 {margin:13px !important;}
.margin14 {margin:14px !important;}
.margin15 {margin:15px !important;}
.margin16 {margin:16px !important;}
.margin17 {margin:17px !important;}
.margin18 {margin:18px !important;}
.margin19 {margin:19px !important;}
.margin20 {margin:20px !important;}
.margin25 {margin:25px !important;}
.margin30 {margin:30px !important;}
.margin35 {margin:35px !important;}
.margin40 {margin:40px !important;}
.margin45 {margin:45px !important;}
.margin50 {margin:50px !important;}

.marginTop-10 {margin-top:-10px !important;}
.marginTop-9 {margin-top:-9px !important;}
.marginTop-8 {margin-top:-8px !important;}
.marginTop-7 {margin-top:-7px !important;}
.marginTop-6 {margin-top:-6px !important;}
.marginTop-5 {margin-top:-5px !important;}
.marginTop-4 {margin-top:-4px !important;}
.marginTop-3 {margin-top:-3px !important;}
.marginTop-2 {margin-top:-2px !important;}
.marginTop-1 {margin-top:-1px !important;}
.marginTop0 {margin-top:0px !important;}
.marginTop1 {margin-top:1px !important;}
.marginTop2 {margin-top:2px !important;}
.marginTop3 {margin-top:3px !important;}
.marginTop4 {margin-top:4px !important;}
.marginTop5 {margin-top:5px !important;}
.marginTop6 {margin-top:6px !important;}
.marginTop7 {margin-top:7px !important;}
.marginTop8 {margin-top:8px !important;}
.marginTop9 {margin-top:9px !important;}
.marginTop10 {margin-top:10px !important;}
.marginTop11 {margin-top:11px !important;}
.marginTop12 {margin-top:12px !important;}
.marginTop13 {margin-top:13px !important;}
.marginTop14 {margin-top:14px !important;}
.marginTop15 {margin-top:15px !important;}
.marginTop16 {margin-top:16px !important;}
.marginTop17 {margin-top:17px !important;}
.marginTop18 {margin-top:18px !important;}
.marginTop19 {margin-top:19px !important;}
.marginTop20 {margin-top:20px !important;}
.marginTop25 {margin-top:25px !important;}
.marginTop30 {margin-top:30px !important;}
.marginTop35 {margin-top:35px !important;}
.marginTop40 {margin-top:40px !important;}
.marginTop45 {margin-top:45px !important;}
.marginTop50 {margin-top:50px !important;}

.marginRight-10 {margin-right:-10px !important;}
.marginRight-9 {margin-right:-9px !important;}
.marginRight-8 {margin-right:-8px !important;}
.marginRight-7 {margin-right:-7px !important;}
.marginRight-6 {margin-right:-6px !important;}
.marginRight-5 {margin-right:-5px !important;}
.marginRight-4 {margin-right:-4px !important;}
.marginRight-3 {margin-right:-3px !important;}
.marginRight-2 {margin-right:-2px !important;}
.marginRight-1 {margin-right:-1px !important;}
.marginRight0 {margin-right:0px !important;}
.marginRight1 {margin-right:1px !important;}
.marginRight2 {margin-right:2px !important;}
.marginRight3 {margin-right:3px !important;}
.marginRight4 {margin-right:4px !important;}
.marginRight5 {margin-right:5px !important;}
.marginRight6 {margin-right:6px !important;}
.marginRight7 {margin-right:7px !important;}
.marginRight8 {margin-right:8px !important;}
.marginRight9 {margin-right:9px !important;}
.marginRight10 {margin-right:10px !important;}
.marginRight11 {margin-right:11px !important;}
.marginRight12 {margin-right:12px !important;}
.marginRight13 {margin-right:13px !important;}
.marginRight14 {margin-right:14px !important;}
.marginRight15 {margin-right:15px !important;}
.marginRight16 {margin-right:16px !important;}
.marginRight17 {margin-right:17px !important;}
.marginRight18 {margin-right:18px !important;}
.marginRight19 {margin-right:19px !important;}
.marginRight20 {margin-right:20px !important;}
.marginRight25 {margin-right:25px !important;}
.marginRight30 {margin-right:30px !important;}
.marginRight35 {margin-right:35px !important;}
.marginRight40 {margin-right:40px !important;}
.marginRight45 {margin-right:45px !important;}
.marginRight50 {margin-right:50px !important;}

.marginBot-10 {margin-bottom:-10px !important;}
.marginBot-9 {margin-bottom:-9px !important;}
.marginBot-8 {margin-bottom:-8px !important;}
.marginBot-7 {margin-bottom:-7px !important;}
.marginBot-6 {margin-bottom:-6px !important;}
.marginBot-5 {margin-bottom:-5px !important;}
.marginBot-4 {margin-bottom:-4px !important;}
.marginBot-3 {margin-bottom:-3px !important;}
.marginBot-2 {margin-bottom:-2px !important;}
.marginBot-1 {margin-bottom:-1px !important;}
.marginBot-10 {margin-bottom:-10px !important;}
.marginBot-9 {margin-bottom:-9px !important;}
.marginBot-8 {margin-bottom:-8px !important;}
.marginBot-7 {margin-bottom:-7px !important;}
.marginBot-6 {margin-bottom:-6px !important;}
.marginBot-5 {margin-bottom:-5px !important;}
.marginBot-4 {margin-bottom:-4px !important;}
.marginBot-3 {margin-bottom:-3px !important;}
.marginBot-2 {margin-bottom:-2px !important;}
.marginBottom-1 {margin-bottom:-1px !important;}
.marginBot0 {margin-bottom:0px !important;}
.marginBot1 {margin-bottom:1px !important;}
.marginBot2 {margin-bottom:2px !important;}
.marginBot3 {margin-bottom:3px !important;}
.marginBot4 {margin-bottom:4px !important;}
.marginBot5 {margin-bottom:5px !important;}
.marginBot6 {margin-bottom:6px !important;}
.marginBot7 {margin-bottom:7px !important;}
.marginBot8 {margin-bottom:8px !important;}
.marginBot9 {margin-bottom:9px !important;}
.marginBot10 {margin-bottom:10px !important;}
.marginBot11 {margin-bottom:11px !important;}
.marginBot12 {margin-bottom:12px !important;}
.marginBot13 {margin-bottom:13px !important;}
.marginBot14 {margin-bottom:14px !important;}
.marginBot15 {margin-bottom:15px !important;}
.marginBot16 {margin-bottom:16px !important;}
.marginBot17 {margin-bottom:17px !important;}
.marginBot18 {margin-bottom:18px !important;}
.marginBot19 {margin-bottom:19px !important;}
.marginBot20 {margin-bottom:20px !important;}
.marginBot25 {margin-bottom:25px !important;}
.marginBot30 {margin-bottom:30px !important;}
.marginBot35 {margin-bottom:35px !important;}
.marginBot40 {margin-bottom:40px !important;}
.marginBot45 {margin-bottom:55px !important;}
.marginBot50 {margin-bottom:50px !important;}

.marginLeft-10 {margin-left:-10px !important;}
.marginLeft-9 {margin-left:-9px !important;}
.marginLeft-8 {margin-left:-8px !important;}
.marginLeft-7 {margin-left:-7px !important;}
.marginLeft-6 {margin-left:-6px !important;}
.marginLeft-5 {margin-left:-5px !important;}
.marginLeft-4 {margin-left:-4px !important;}
.marginLeft-3 {margin-left:-3px !important;}
.marginLeft-2 {margin-left:-2px !important;}
.marginLeft-1 {margin-left:-1px !important;}
.marginLeft10 {margin-left:10px !important;}
.marginLeft9 {margin-left:9px !important;}
.marginLeft8 {margin-left:8px !important;}
.marginLeft7 {margin-left:7px !important;}
.marginLeft6 {margin-left:6px !important;}
.marginLeft5 {margin-left:5px !important;}
.marginLeft4 {margin-left:4px !important;}
.marginLeft3 {margin-left:3px !important;}
.marginLeft2 {margin-left:2px !important;}
.marginLeft1 {margin-left:1px !important;}
.marginLeft0 {margin-left:0px !important;}
.marginLeft1 {margin-left:1px !important;}
.marginLeft2 {margin-left:2px !important;}
.marginLeft3 {margin-left:3px !important;}
.marginLeft4 {margin-left:4px !important;}
.marginLeft5 {margin-left:5px !important;}
.marginLeft6 {margin-left:6px !important;}
.marginLeft7 {margin-left:7px !important;}
.marginLeft8 {margin-left:8px !important;}
.marginLeft9 {margin-left:9px !important;}
.marginLeft10 {margin-left:10px !important;}
.marginLeft11 {margin-left:11px !important;}
.marginLeft12 {margin-left:12px !important;}
.marginLeft13 {margin-left:13px !important;}
.marginLeft14 {margin-left:14px !important;}
.marginLeft15 {margin-left:15px !important;}
.marginLeft16 {margin-left:16px !important;}
.marginLeft17 {margin-left:17px !important;}
.marginLeft18 {margin-left:18px !important;}
.marginLeft19 {margin-left:19px !important;}
.marginLeft20 {margin-left:20px !important;}
.marginLeft25 {margin-left:25px !important;}
.marginLeft30 {margin-left:30px !important;}
.marginLeft35 {margin-left:35px !important;}
.marginLeft40 {margin-left:40px !important;}
.marginLeft45 {margin-left:45px !important;}
.marginLeft50 {margin-left:50px !important;}


.minWidth50{min-width:50px;}
.minWidth80{min-width:80px;}
.minWidth90{min-width:90px;}
.minWidth100{min-width:100px;}
.minWidth110{min-width:110px;}
.minWidth120{min-width:120px;}
.minWidth130{min-width:130px;}
.minWidth140{min-width:140px;}
.minWidth150{min-width:150px;}
.minWidth175{min-width:175px;}
.minWidth200{min-width:200px;}
.minWidth225{min-width:225px;}
.minWidth250{min-width:250px;}
.minWidth300{min-width:300px;}

